.sc-user-input {
  /* min-height: 55px; */
  border-top: 1px solid #c9d0da;
  margin: 0;
  position: relative;
  bottom: 0;
  background-color: #f4f7f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background-color .2s ease,box-shadow .2s ease;
}

.sc-user-input form {
  display: flex;
}

.sc-user-input--text {
  width: 300px;
  resize: none;
  border: none;
  outline: none;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
  padding: 15px 55px 15px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.33;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #565867;
  -webkit-font-smoothing: antialiased;
  max-height: 200px;
  overflow: scroll;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
}

.sc-user-input--text:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: rgba(86, 88, 103, 0.3);
  outline: none;
}

.sc-user-input--buttons {
  width: 100px;
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: flex-end;
}

.sc-user-input--button:first-of-type {
  width: 40px;
}

.sc-user-input--button {
  width: 30px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sc-user-input--button button {
  cursor: pointer;
}

.sc-user-input--buttons input[type="file"] {
  display: none;
}

.sc-user-input--picker-wrapper {
  display: flex;
  flex-direction: column;
}

.sc-user-input.active {
  box-shadow: none;
  background-color: white;
  box-shadow: 0px -5px 20px 0px rgba(150, 165, 190, 0.2);
}

.sc-user-input--file-icon,
.sc-user-input--send-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  align-self: center;
  outline: none;
}

.sc-user-input--file-icon path,
.sc-user-input--send-icon path {
  fill: rgba(86, 88, 103, 0.3);
}

.sc-user-input--file-icon:hover path,
.sc-user-input--send-icon:hover path {
  fill: rgba(86, 88, 103, 1);
}

.sc-user-input--emoji-icon-wrapper,
.sc-user-input--send-icon-wrapper,
.sc-user-input--file-icon-wrapper {
  background: none;
  border: none;
  padding: 2px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sc-user-input--send-icon-wrapper,
.sc-user-input--file-icon-wrapper {
  flex-direction: row;
}

.sc-user-input--emoji-icon-wrapper:focus {
  outline: none;
}

.sc-user-input--emoji-icon {
  height: 18px;
  cursor: pointer;
  align-self: center;
}

.sc-user-input--emoji-icon path, .sc-user-input--emoji-icon circle {
  fill: rgba(86, 88, 103, 0.3);
}

.sc-user-input--emoji-icon-wrapper:focus .sc-user-input--emoji-icon path,
.sc-user-input--emoji-icon-wrapper:focus .sc-user-input--emoji-icon circle,
.sc-user-input--emoji-icon.active path,
.sc-user-input--emoji-icon.active circle,
.sc-user-input--emoji-icon:hover path,
.sc-user-input--emoji-icon:hover circle {
  fill: rgba(86, 88, 103, 1);
}

.list-file-selectd {
  display: flex;
  overflow-x: auto;
  border-bottom: .2px solid #e6e6e6;
  width: 100%;
  overflow-y: auto;
}

.list-file-selectd .file-img{
  margin: 10px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 3%;
  position: relative;
  overflow: hidden;
  /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15); 
  border: 10%;  */
}

.list-file-selectd .file-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50px; 
  max-height: 50px; 
}

.file-item {
  margin: 10px;
  display: flex;
  max-height: 50px;
  align-items: center;
  position: relative;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.delete-file {
  color: #626471;
  position: absolute;
  padding: 0 6px;
  display: block;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  background: white;
  top: -3px;
  border-radius: 50%;
  right: -3px;
  font-weight: 600;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.file-item img {
  width: 24px;
  padding-right: 4px;
}

.file-item .file-infor {
  border-left: 1px solid #e6e6e6;
}

.file-item p {
   margin: 0;
   font-size: 12px;
   padding: 0 8px;
   color: #777676;
}

.d-none {
  display: none;
}

.create-gr-btn {
  width: 30px;
  cursor: pointer;
  margin-right: 10px;
}
